.header {
  width: 100%;
  padding: 1.0417vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: margin 0.3s ease;

  &.header-fixed {
    margin-top: -1.0417vw;

    .header-cont {
      background: $dark;
    }
  }
}


body {
  &.home {
    .header {
      .logo {
        position: relative;

        &::before {
          width: 0.7292vw;
          height: 3.9583vw;
          display: inline-block;
          content: '';
          position: absolute;
          left: 50%;
          bottom: 4.7917vw;
          background: url("../img/arrow-down-pink.svg") no-repeat center / 100%;
          opacity: 1;
        }
      }
    }
  }
}

.header-cont {
  width: 100%;
  padding: 2.1875vw 6.1979vw 2.1875vw 4.2708vw;
  background: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .logo {
    height: 5.5208vw;
    width: auto;
    display: flex;

    a, img {
      width: auto;
      height: 100%;
      display: flex;
    }
  }
}

.burger {
  display: none;
}

.header-menu {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 0.9375vw;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4.2188vw;

    li {
      position: relative;

      &::before {
        width: 0.7292vw;
        height: 3.9583vw;
        display: inline-block;
        content: '';
        position: absolute;
        left: 50%;
        bottom: calc(100% + 1.9792vw);
        background: url("../img/arrow-down-pink.svg") no-repeat center / 100%;
        opacity: 0;
        transition: opacity 0.4s ease;
        pointer-events: none;
      }

      &.current-menu-item, &:hover {
        &::before {
          opacity: 1;
        }

        a {
          color: #FFFFFF;
          transition: color 0.3s ease;

        }
      }

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 1.5625vw;
        line-height: 1.2;
        color: #BDBDBD;
        transition: color 0.3s ease;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    ul {
      li {
        &:first-child {
          display: none;
        }
      }
    }
  }
}

.home-hero {
  width: 100%;
  padding-top: 20.3646vw;
}

.home-hero__container {
  width: 100%;
  max-width: 38.8646vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    max-width: 27.0313vw;

    font-style: normal;
    font-weight: 200;
    font-size: 1.5625vw;
    line-height: 1.33;
    color: #BDBDBD;
    margin-bottom: 3.6458vw;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625vw;
    line-height: 1.2;
    color: #BDBDBD;

    strong {
      font-weight: inherit;
      color: $pink;
    }
  }

}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 4.9479vw;
  line-height: 1.156;
  color: #FFFFFF;
  margin-bottom: 1.3021vw;
}

.hidden-bg {
  width: 100%;
  height: 63.5417vw;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    --cursorX: 50vw;
    --cursorY: 50vh;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: radial-gradient(
                      circle 10vmax at var(--cursorX) var(--cursorY),
                      rgba(12, 17, 21, 0) 0%,
                      rgba(12, 17, 21, .5) 80%,
                      rgba(12, 17, 21, .95) 100%
      );
      transition: background 0.1s ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.recent-cases {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.2083vw;
}

.recent-cases__cont {
  width: 100%;
  max-width: calc(100% - ((100vw - 71.3542vw) / 2) - 5.9896vw);
  margin-left: auto;
  margin-right: 5.9896vw;
}

.go-next-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625vw;
    line-height: 1.2;
    color: #BDBDBD;
    transition: color 0.3s ease;
  }

  &::after {
    width: 0.7292vw;
    height: 1.4583vw;
    display: inline-block;
    content: '';
    background: url("../img/arr-d-lit.svg") no-repeat center / 100%;
    margin-top: 0.4167vw;
  }

  &:hover {
    p {
      color: $pink;
      transition: color 0.3s ease;

    }
  }
}

.recent-cases__list {
  margin-top: 5.9896vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.7292vw;
  margin-bottom: 20.8333vw;
}


.single-case {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5625vw;

  .img {
    width: 49.4792vw;
    height: 24.4792vw;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    padding-right: 2.0833vw;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 1.5625vw;
      line-height: 1.2;
      color: #FFFFFF;
      display: inline-block;
      margin-bottom: 1.2500vw;


    }

    p {
      font-style: normal;
      font-weight: 200;
      font-size: 1.1458vw;
      line-height: 1.36;
      color: #BDBDBD;

      margin-bottom: 1.2500vw;

      &:last-child {
        margin-bottom: 0;
      }

      strong {

        font-weight: inherit;
        font-size: 0.9375vw;
        color: $pink;
      }
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.to-contacts {
  width: 100%;
  margin-bottom: 7.2917vw;

  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 4.9479vw;
    line-height: 1.157;
    color: #FFFFFF;

  }

  a {
    font-style: normal;
    font-weight: 200;
    font-size: 4.9479vw;
    line-height: 1.157;
    color: #E72A84;

    &::after {
      content: '>';
      font-size: inherit;
      color: inherit;
      margin-left: 0.4688vw;
    }
  }
}

.footer {
  width: 100%;
  padding-top: 4.0625vw;
}

.footer-bot {
  width: 100%;
  margin-bottom: 1.4583vw;
  margin-top: 3.5938vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .logo {
    display: flex;
    height: 4.8438vw;
    width: auto;
    margin-bottom: 0;
    margin-left: -0.5208vw;

    a, img {
      display: flex;
      height: 100%;
      width: auto;
    }
  }

  p {
    font-style: normal;
    font-weight: 200;
    font-size: 0.8333vw;
    line-height: 2.87;
    color: #FFFFFF;
    margin-left: 0.8854vw;
  }
}

.footer-top__cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .left {
    width: 27.6042vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > span {

      display: inline-block;
      margin-bottom: 1.8229vw;

      font-style: normal;
      font-weight: 600;
      font-size: 1.5625vw;
      line-height: 1.23;
      color: #FFFFFF;
    }
  }

  .right {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-right: 10.7813vw;

      &:last-child {
        margin-right: 0;
      }

      li {
        margin-bottom: 0.2604vw;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-style: normal;
          font-weight: 200;
          font-size: 1.5625vw;
          line-height: 1.53;
          color: #FFFFFF;
          transition: color 0.3s ease;

          &:hover {
            color: $pink;
            text-decoration: underline;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}

.footer-top {
  width: 100%;
}

.form {
  width: 100%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer-form {
  width: 100%;

  .form {
    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .input-wrap {
        flex-grow: 1;
      }

      .btn--check {
        flex-shrink: 0;
        margin-left: 1.7188vw;
      }
    }
  }
}

.input-wrap {
  width: 100%;

  input {
    width: 100%;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5625vw;
    line-height: 1.53;
    color: #BDBDBD;
    background: rgba(255, 255, 255, 0);
    outline: none;

    height: 2.6563vw;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #E72A84;

    &::placeholder {
      font-style: normal;
      font-weight: 200;
      font-size: 1.5625vw;
      line-height: 1.53;
      color: #BDBDBD;
    }
  }
}

.btn--check {
  height: 2.6042vw;
  width: 4.1146vw;
  padding: 0.5208vw;
  position: relative;
  outline: none;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #E72A84;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &::before {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #E72A84;
    display: inline-block;
    content: '';
    transition: width 0.3s ease, height 0.3s ease;
  }

  &::after {
    width: 1.6146vw;
    height: 1.3021vw;
    display: inline-block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.3s ease;
    background: url("../img/check-pink.svg") no-repeat center / 100%;
  }

  &:hover {
    &::before {
      width: 4.6875vw;
      height: 4.6875vw;

      transition: width 0.3s ease, height 0.3s ease;

    }

    &::after {
      filter: brightness(0) invert(1);
      transition: filter 0.3s ease;

    }
  }
}

.header-socials {
  display: none;
}

.cases {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-case {
  width: 100%;
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: calc(100% - 10.4167vw);
  }

  .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .desk {
      display: flex;
    }

    .mob {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.big-case-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #0C1115;
  position: relative;
  padding: 0.2083vw 1.5104vw 0.9896vw;

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 3.3333vw;
    line-height: 1.7;
    color: #FFFFFF;
  }

  p {
    font-style: normal;
    font-weight: 200;
    font-size: 1.5625vw;
    line-height: 1.33;
    color: #BDBDBD;
  }

  .btn--pink {
    position: absolute;
    top: calc(100% + 1.7708vw);
    left: 0;
  }
}

.btn--pink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5625vw;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  padding: 0.7813vw 1.5104vw;
  background: $pink;
  border-radius: 0.4167vw;
  border: 2px solid $pink;
  transition: background-color 0.4s ease, color 0.4s ease;

  &:hover {
    background: #fff;
    color: $pink;
    transition: background-color 0.4s ease, color 0.4s ease;
  }
}

body:not(.home) {
  .home-hero__container {
    max-width: 59.3229vw;

    p {
      max-width: 50.9375vw;
    }
  }
}

.about-us {
  width: 100%;
  margin-top: 7.7604vw;
}

.about-us__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 9.3750vw;
}

.about-us__list {
  width: 100%;
  margin-top: 1.2500vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5.6250vw 15.0000vw;
}

.about-us__card {
  width: calc(50% - 7.5000vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .img {
    width: 100%;
    height: 18.6458vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;

    .desk {
      display: flex;
    }

    .mob {
      display: none;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.9271vw;

    span {
      display: inline-block;
      margin-bottom: 0.9375vw;
      font-style: normal;
      font-weight: 600;
      font-size: 1.5625vw;
      line-height: 1.8750vw;
      text-align: center;
      color: #FFFFFF;
    }

    p {
      font-style: normal;
      font-weight: 200;
      font-size: 1.1458vw;
      line-height: 1.5625vw;
      color: #FFFFFF;
    }
  }
}

.our-costumers {
  width: 100%;
  margin-bottom: 9.3750vw;

}

.our-costumers__list {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: 3.1250vw;

  .swiper-container {
    width: 100%;
  }

  .swiper-wrapper {
    gap: 2.3958vw 2.0833vw;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
}

.single-costumer {
  width: calc(calc(100% / 5) - (8.3333vw / 5));
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.swiper-container {
  overflow: hidden;
}

.compass-block {
  width: 100%;
  margin-top: 8.0729vw;
  position: relative;

}

.arrow-scrolling {
  .trigg {
    position: absolute;
    top: 0;
    width: 50px;
    height: 1px;
    //background: red;
  }

  .trigg2 {
    position: absolute;
    top: 45vh;
    width: 50px;
    height: 1px;
    //background: red;
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      &.ln {
        stroke: #FC1684;
        stroke-dasharray: 4px;
      }

      &.arr {
        fill: #FC1684;
        opacity: 0;
        //transition: opacity 0.2s ease;
        &.show {
          opacity: 1;

        }
      }
    }
  }
}

.compass-scrolling {
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.5208vw;
  right: 14.4792vw;
  width: 25.5729vw;
  height: 20.6771vw;
  mask-image: url("../img/pink1.svg");
  mask-position: 0 0;
  mask-size: 100% 100%;
}

.brands {
  width: 100%;
  margin-top: 14.4271vw;
}

.brands-cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.brands-scrolling {
  width: 53.5417vw;
  height: 24.6354vw;
  position: absolute;
  right: 2px;
  top: 6.7188vw;
  transform: translate(0, -100%);

  mask-image: url("../img/pink2.svg");
  mask-position: 0 0;
  mask-size: 100% 100%;
}

.brands-text {
  width: 30.4688vw;
  margin-top: 10.5208vw;

  .expertise-text {
    ul {
      li {
        margin-bottom: 1.0417vw;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}

.brands-img {
  margin-right: 0.2604vw;
  width: 33.8021vw;
  position: relative;

  .video-img {
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 1.1979vw;
    right: 50%;
    transform: translate(50%, 0);
    width: 6.8229vw;
    height: 6.8229vw;
  }

  .img {
    width: 100%;
    height: auto;
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }
}


.compass__cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.compass-text {
  width: 20.1563vw;

  ul {
    padding-left: 1.1458vw;
  }
}

.compass-img {
  width: 49.6354vw;
  height: 50.3646vw;
  flex-shrink: 0;

  margin-left: -3.2813vw;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .comp {
    width: 15.0000vw;
    height: 15.0000vw;
    overflow: hidden;
    position: absolute;
    top: 25.4%;
    left: 47.0%;
    pointer-events: none;
    //transform-origin: 50% 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}


.our-research {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 8.7500vw;
}

.research-step {
  width: 100%;

}

.research-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 11.6667vw;

  .pic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 33.3333vw;
    position: relative;

  }

  .video-img {
    position: absolute;
    width: 16.5325vw;
    height: 10.4688vw;
    background: red;
    right: 20.7%;
    top: 41%;
    transform: translate(0, -50%);
    overflow: hidden;
    border-radius: 0.2604vw;

    video, iframe, img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .expertise-number {
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translate(0, 50%);
  }

  .img {
    width: calc(100% + ((100vw - 71.3542vw) / 2) + 0.8213vw);
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .desk {
      display: flex;
    }

    .mob {
      display: none;
    }
  }
}

.expertise-number {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7292vw;
    height: 5.7292vw;
    background: $pink;

    font-style: normal;
    font-weight: 700;
    font-size: 2.8646vw;
    line-height: 5.7292vw;
    color: #FFFFFF;

  }

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 2.8646vw;
    line-height: 5.7292vw;
    height: 5.7292vw;
    padding: 0 1.0417vw 0 1.1979vw;
    color: #FFFFFF;
    background: #2A2F32;
  }
}

.research-text {
  margin-top: 4.6875vw;
  width: 100%;
  max-width: 25.4167vw;
}

.expertise-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .expertise-number {
    margin-bottom: 2.3438vw;
  }

  > p {
    font-style: normal;
    font-weight: 200;
    font-size: 1.1458vw;
    line-height: 1.5625vw;
    color: #BDBDBD;
    margin-bottom: 1.1979vw;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-bottom: 1.1979vw;

    li {
      width: 100%;
      padding-left: 2.2917vw;
      position: relative;

      &::before {
        background: #BDBDBD;
        display: inline-block;
        content: '';
        width: 0.4167vw;
        height: 0.4167vw;
        border-radius: 50%;
        position: absolute;
        left: 0.9375vw;
        top: 0.8333vw;
      }

      font-style: normal;
      font-weight: 600;
      font-size: 1.4583vw;
      line-height: 2.0833vw;
      color: #BDBDBD;
    }
  }
}

.our-start-bg {
  position: absolute;
  z-index: 1;
  left: -1.0417vw;
  bottom: 0;
  width: 77.1354vw;
  height: 74.6875vw;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

    }
  }
}

.our-start {
  width: 100%;
  margin-top: 10.1563vw;
  padding-bottom: 45.0000vw;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }
}

.start-scrolling {
  right: 26.4063vw;
  top: 1.7708vw;
  transform: translate(0, -100%);
  width: 18.4375vw;
  height: 17.2396vw;
  position: absolute;
  z-index: 1;

  mask-image: url("../img/pink3.svg");
  mask-position: 0 0;
  mask-size: 100% 100%;
}

.start-cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.start-text {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 34.7917vw;
  margin-right: 0.3125vw;

  .expertise-text {
    ul {
      padding-left: 1.0417vw;
    }
  }
}

.implement {
  width: 100%;
  margin-top: -1.5104vw;
  margin-bottom: 20.7813vw;
}

.implement-cont {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.implement-scrolling {
  width: 26.7188vw;
  height: 16.6667vw;
  position: absolute;
  bottom: calc(100% + 2.9167vw);
  left: 14.3229vw;
  z-index: 1;

  mask-image: url("../img/pink4.svg");
  mask-position: 0 0;
  mask-size: 100% 100%;
}

.implement-img {
  width: 100%;
  margin-top: 2.9688vw;
  height: 34.6354vw;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.implement-text {
  width: 100%;
  max-width: 37.3438vw;
  position: relative;
  z-index: 2;

  p {
    max-width: 30.4688vw;
  }
}

.arrow-scrolling {
  svg {
    &.desk {
      display: flex;
    }

    &.mob {
      display: none;
    }
  }
}

.our-start-bg {
  .img {
    img {
      &.desk {
        display: flex;
      }

      &.mob {
        display: none;
      }
    }
  }
}

.case-project {
  background: #E7E7E7;
}

.case-hero {
  width: 100%;
  height: 56.2500vw;

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.case-cont {
  width: 100%;
  padding-left: 5.9896vw;
  padding-right: 5.9896vw;
}

.case-about {
  width: 100%;
  margin-top: 4.8958vw;
  margin-bottom: 8.9063vw;
}

.case-about__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3.2813vw;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 3.3333vw;
    line-height: 5.7292vw;
    color: #0C1115;
  }

  p {
    font-style: normal;
    font-weight: 200;
    font-size: 1.5625vw;
    line-height: 2.0833vw;
    color: #0C1115;
  }
}

.case-about__cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.5313vw;
}

.case-about__column {
  width: calc(50% - (4.5313vw / 2));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.case-about__text-head {
  width: 100%;
  margin-bottom: 2.8125vw;
  padding-bottom: 1.0938vw;
  border-bottom: 1px solid #000000;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5625vw;
    line-height: 1.8750vw;
    color: #0C1115;
  }
}
.case-about__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  > span {
    font-style: normal;
    font-weight: 200;
    font-size: 1.5625vw;
    line-height: 2.7083vw;
    color: #0C1115;
    display: inline-block;
    margin-bottom: 1.3021vw;
    &:first-child {
      margin-top: 1.0417vw;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  > p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625vw;
    line-height: 2.7083vw;
    color: #0C1115;
    margin-bottom: 1.3021vw;
  }
}

.income-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2.8125vw;
  &:last-child {
    margin-bottom: 0;
  }
}
.income-title {
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .our-costumers {
    margin-bottom: 41.1111vw;
  }
  .implement-scrolling {
    left: 0;
    bottom: calc(100% + 11.3889vw);
    height: 47.2222vw;
    width: 75.5556vw;
    transform: translate(0);
  }


  .implement-img {
    margin-top: 20.5556vw;
    height: 84.4444vw;
  }
  .expertise-text ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .implement-text {
    max-width: 100%;
    width: 100%;

    .expertise-number p {
      font-size: 10vw;
    }
  }
  .implement-text p {
    max-width: none;
  }
  .implement {
    margin-top: 15.0000vw;
    margin-bottom: 27.7778vw;
  }


  .start-text .expertise-text ul {
    padding-left: 0;
  }
  .start-text {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .our-start {
    margin-top: 77.2222vw;
    padding-bottom: 93.0556vw;
  }
  .start-scrolling {
    width: 63.8889vw;
    height: 59.7222vw;
    bottom: calc(100% + 12.5000vw);
    left: 11.3889vw;
    right: auto;
    top: auto;
    transform: none;
    mask-image: url("../img/pink3-3.svg");
    mask-size: 100%;
    mask-position: 0 0;
  }


  .our-start-bg {
    right: 4.1667vw;
    width: calc(100vw - (4.1667vw * 2));
    height: 124.1667vw;
    bottom: 0;
    top: auto;
    left: auto;
  }

  .our-start-bg {
    .img {
      img {
        &.desk {
          display: none;
        }

        &.mob {
          display: flex;
        }
      }
    }
  }

  .arrow-scrolling {
    svg {
      &.desk {
        display: none;
      }

      &.mob {
        display: flex;
      }
    }
  }
  .brands-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .brands-text {
    width: 100%;
    max-width: 100%;
    margin-bottom: 8.3333vw;
    margin-top: 0;

    .expertise-text ul {
      width: 102%;
    }
  }
  .brands {
    margin-top: 50.8333vw;
  }

  .brands-img {
    width: 100%;
    margin-right: 0;

    .video-img {
      top: 3.1279vw;

      width: 15.8229vw;
      height: 15.8229vw;
    }
  }
  .brands-scrolling {
    width: 100%;
    height: 46.3889vw;
    right: 0;
    bottom: calc(100% + 7.5000vw);
    top: auto;
    left: auto;
    transform: translate(0);
    mask-image: url("../img/pink2-2.svg");
    mask-size: 100%;
    mask-position: 0 0;
  }


  .compass-text {
    width: 100%;
    max-width: 100%;
    margin-top: 16.3889vw;

  }
  .expertise-text {
    .expertise-number {
      margin-bottom: 6.6667vw;
    }

    ul {
      margin-bottom: 5.9667vw;

      li {

        padding-left: 6.4667vw;

        br {
          display: none;
        }

        &::before {
          width: 1.3667vw;
          height: 1.3667vw;
          top: 2.7778vw;
          left: 3.3222vw;

        }
      }
    }
  }
  .research-text {
    .expertise-text {
      > p {
        width: 102%;
      }
    }
  }
  .compass-text ul {
    margin-bottom: 7.5000vw;
  }
  .compass-text ul {
    padding-left: 3.8889vw;
  }
  .compass__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .compass-img {
    width: 91.6667vw;
    height: 92.5000vw;
    margin-left: -2.2222vw;
  }
  .compass-img .comp {
    width: 28vw;
    height: 28vw;
  }
  .compass-scrolling {
    bottom: 100%;
    margin-bottom: -2.2222vw;
    width: 56.1111vw;
    height: 45.2778vw;
    transform: rotate(15.76deg);
    right: -5.5556vw;
    mask-image: url("../img/pink1-1.svg");
    mask-size: 100%;
    mask-position: 0 0;
  }
  .compass-block {
    overflow: hidden;
    padding-top: 49.1667vw;
    margin-top: -7.7778vw;
  }
  .research-text {
    max-width: 100%;
    margin-top: 11.6667vw;
  }
  .expertise-text {
    > p {
      font-size: 5.0000vw;
      line-height: 6.9444vw;
      margin-bottom: 6.9444vw;
    }

    ul {
      li {
        font-size: 5.5556vw;
        line-height: 7.7778vw;
      }
    }
  }
  .research-block .expertise-number {
    transform: translate(0, 7.2222vw);
  }
  .research-block {
    .video-img {
      width: 25.5325vw;
      height: 16.4688vw;
      right: 7.4%;
      top: 39.2%;
    }

    .pic {
      height: 114.1667vw;
    }

    .img {
      width: calc(100% + 5.5556vw + 5.5556vw);
      margin-left: -5.5556vw;
      margin-right: -5.5556vw;
    }
  }
  .research-block {
    .img {
      .desk {
        display: none;
      }

      .mob {
        display: flex;
      }
    }
  }
  .our-research {
    margin-top: 0;
  }
  .research-block {
    margin-top: 40.5556vw;
  }
  .expertise-number {
    flex-wrap: wrap;
    width: 100%;

    span {
      width: 22.7778vw;
      height: 22.7778vw;

      font-style: normal;
      font-weight: 600;
      font-size: 11.1111vw;
      line-height: 10.0000vw;
      color: #FFFFFF;
    }

    p {
      flex-grow: 1;

      font-style: normal;
      font-weight: 600;
      font-size: 11.1111vw;
      line-height: 10.0000vw;
      color: #FFFFFF;
      height: 22.7778vw;
      padding: 2px 1.1667vw 2px 1.3889vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .home-hero {
    &.hero-expertise {
      .hero-title {
        width: calc(100% + 5.5556vw);
      }
    }
  }


  .our-costumers__list {
    padding-left: 5.5556vw;
    padding-right: 5.5556vw;
    flex-direction: column;
    margin-top: 9.7222vw;


    .swiper-wrapper {

      column-gap: 0;
      row-gap: 11.1111vw;
    }
  }
  .dots {
    margin-top: 15.5556vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.3333vw;
  }
  .single-dot {
    width: 3.8889vw;
    height: 3.8889vw;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background: $pink;
    }
  }
  .single-costumer {
    width: 100%;
    height: 18.0556vw;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .about-us__cont {
    margin-bottom: 41.1111vw;
  }
  .go-next-btn {
    p {
      max-width: 51vw;
    }
  }
  .about-us {
    margin-top: 0;
  }
  body:not(.home) .home-hero__container p {
    max-width: 100%;
  }

  .about-us__list {
    margin-top: 17.7778vw;
    gap: 18.0556vw;
  }
  .about-us__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .img {
      width: 100%;
      margin-bottom: 5.8333vw;
      height: auto;

      .mob {
        display: flex;
      }

      .desk {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .text {

      span {
        font-size: 6.3889vw;
        line-height: 7.7778vw;
        margin-bottom: 2.5000vw;
      }

      p {
        font-size: 5.0000vw;
        line-height: 6.9444vw;
      }
    }
  }
  body:not(.home) .home-hero__container {
    max-width: 100%;
    margin-bottom: 10.2778vw;
  }
  .big-case-info .btn--pink {
    top: calc(100% + 5.8333vw);
  }
  .big-case {
    width: 100%;
    height: 222.2222vw;
    min-height: 0;

    .container {
      align-items: flex-end;
      padding: 5.5556vw 5.5556vw 28.3333vw;
      max-width: 100%;
    }

    .bg {
      .desk {
        display: none;
      }

      .mob {
        display: flex;
      }
    }
  }
  .big-case-info {
    width: 100%;
    padding: 4.7222vw 4.4444vw 3.8889vw 5.5556vw;

    span {
      font-size: 10.5556vw;
      line-height: 12.5000vw;
      display: inline-block;
      margin-bottom: 1.9444vw;
    }

    p {
      br {
        display: none;
      }

      font-size: 6.3889vw;
      line-height: 7.5000vw;
    }

    .btn--pink {
      padding: 2.7778vw 4.1667vw;

      font-size: 5.5556vw;
      line-height: 6.6667vw;
      border-radius: 2.2222vw;
    }
  }

  .header-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 5.0000vw;
      line-height: 10.2778vw;
      color: #E72A84;
      display: inline-block;
      margin-bottom: 3.3333vw;
    }

    ul {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      li {
        width: 100%;

        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 11.1111vw;

          font-style: normal;
          font-weight: 400;
          font-size: 5.0000vw;
          line-height: 13.3333vw;
          color: #FFFFFF;
          position: relative;

          &::before {
            width: 7.7778vw;
            height: 3.8889vw;
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            background: url("../img/arrow-pink-r2.svg") no-repeat center / 100%;
          }
        }
      }
    }
  }
  .header-socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 29.1667vw;
    padding-left: 24.7222vw;
  }
  .header-menu {
    //width: 100%;
    transform: translate(0, -170%);
    transition: transform 0.6s ease;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: calc(100% - 4.1767vw);
    overflow-y: auto;
    left: 4.1667vw;
    right: 4.1667vw;
    background-color: $dark;
    padding: 0 0 16.1111vw;

    &.out {
      transform: translate(0, 0);
    }
  }

  .menu {
    width: 100%;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        margin-bottom: 1.6667vw;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          height: 3.8889vw;
          width: 15.0000vw;
          position: absolute;
          left: 0;
          top: 50%;
          right: auto;
          bottom: auto;
          transform-origin: 0 50%;
          transform: translate(0, -50%);
          background: url("../img/arrow-pink-r.svg") no-repeat center / 100%;
        }

        a {
          width: 100%;
          display: flex;
          padding: 3.3333vw 2.7778vw 3.3333vw 24.7222vw;
          font-size: 5.0000vw;
          line-height: 10.2778vw;
        }
      }
    }

  }
  .footer-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7.7778vw;
    margin-bottom: 8.6111vw;

    .logo {
      margin-left: 0;
      margin-bottom: 0;
      height: auto;
      width: 55.5556vw;

      a, img {
        width: 100%;
        height: auto;
      }
    }

    p {
      margin-left: 0;
      margin-right: 0;

      font-weight: 200;
      font-size: 4.4444vw;
      line-height: 12.7778vw;
    }
  }

  .footer {
    padding-top: 18.8889vw;
  }

  .footer-top__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .right {
      margin-top: 12.7778vw;
      width: 100%;
      margin-left: 0;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      ul {
        margin-right: 0;

        li {
          margin-bottom: 1.1111vw;
          display: flex;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-size: 5.0000vw;
            line-height: 10.2778vw;
          }
        }
      }
    }

    .left {
      width: 100%;
      max-width: 100%;

      > span {
        font-size: 5.6944vw;
        line-height: 7.7778vw;
        margin-bottom: 8.6111vw;
      }
    }
  }
  .input-wrap {
    input {
      height: 10.8333vw;
      font-size: 5.0000vw;
      line-height: 6.9444vw;

      &::placeholder {
        font-size: 5.0000vw;
        line-height: 6.9444vw;
      }
    }
  }
  .footer-form .form form .btn--check {
    margin-left: 4.7222vw;
  }
  .btn--check {
    width: 16.9444vw;
    height: 10.8333vw;


    &::after {
      width: 6.6667vw;
      height: 5.2778vw;
    }

    &:hover {
      &::before {
        width: 19.4444vw;
        height: 19.4444vw;
      }
    }
  }

  .recent-cases__list {
    margin-bottom: 26.1111vw;
  }
  .to-contacts {
    margin-bottom: 1.9444vw;

    p {
      font-size: 13.8889vw;
      line-height: 1;
      margin-bottom: 1.3889vw;
    }

    a {
      font-size: 13.8889vw;
      line-height: 1;
    }
  }


  .recent-cases__cont {
    width: 100%;
    max-width: 100%;
    padding-left: 5.5556vw;
    padding-right: 5.5556vw;
    margin-right: 0;
    margin-left: 0;
  }
  .go-next-btn {
    p {
      font-size: 5.5556vw;
      line-height: 6.6667vw;
      margin-bottom: 1.3889vw;
    }

    &::after {
      width: 3.8889vw;
      height: 7.7778vw;
    }
  }

  .recent-cases__list {
    width: 100%;
    gap: 18.0556vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15.0000vw;
  }
  .single-case {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4.1667vw;

    .img {
      width: 100%;
      max-width: 100%;
      height: 61.1111vw;
    }

    .text {
      padding-right: 0;
      width: 100%;

      span {
        margin-bottom: 4.4444vw;
        font-size: 6.3889vw;
        line-height: 7.7778vw;
      }

      p {
        font-size: 5.0000vw;
        line-height: 6.9444vw;
        margin-bottom: 2.7778vw;

        strong {
          font-size: inherit;
        }
      }
    }

    &:nth-child(even) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .hidden-bg {
    height: 80.0000vw;

    .img {
      &::after {
        background: radial-gradient(circle 18vmax at var(--cursorX) var(--cursorY), rgba(12, 17, 21, 0) 0, rgba(12, 17, 21, .5) 80%, rgba(12, 17, 21, .91) 100%);
        transition: background-position 0.1s ease;
      }
    }
  }
  .recent-cases {
    margin-top: 23.0556vw;
  }

  .header {
    &.header-fixed {
      margin-top: -4.1667vw;
    }
  }
  .hero-title {
    font-size: 13.8889vw;
    margin-bottom: 3.8889vw;
  }
  .home-hero__container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15.5556vw;

    p {
      font-size: 6.3889vw;
      line-height: 7.5000vw;
      margin-bottom: 7.2222vw;
      max-width: 100%;
    }

    span {
      font-size: 5.5556vw;
      line-height: 6.6667vw;
    }
  }


  html {
    padding: 4.1667vw;
  }
  .header {
    padding: 4.1667vw;
  }
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 5.5556vw;
  }
  .header-cont {
    padding: 10.5556vw 5.5556vw 7.7778vw;

    .logo {
      height: 15.0000vw;
    }
  }
  .header-menu {
    //display: none;
  }
  body.home .header .logo::before {
    display: none;
  }
  .home-hero {
    padding-top: 41.3889vw;
  }
  .burger {
    width: 5.5556vw;
    height: 4.1667vw;
    display: flex;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5.5556vw;

    &::before {
      width: 3.8889vw;
      height: 15.0000vw;
      bottom: calc(100% + 5.5556vw);
      right: 50%;
      display: inline-block;
      content: '';
      position: absolute;
      transform: translate(50%, 0);
      background: url("../img/arrow-down-pink.svg") no-repeat center bottom / 100%;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    span {
      display: inline-block;
      width: 100%;
      height: 0.5556vw;
      border-radius: 1.1111vw;
      background: #FFFFFF;
      position: absolute;
      right: 0;
      transition: top 0.3s ease, right 0.3s ease, bottom 0.3s ease, transform 0.3s ease, color 0.3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        width: 50%;
      }
    }

    &.active {
      &::before {
        opacity: 0;
      }

      span {
        &:nth-child(1) {
          top: 50%;
          transform: translate(0, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%) rotate(-45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%) rotate(-45deg);
        }
      }


    }

    &:hover {
      span {
        background: $pink;
      }
    }
  }


}